@page "/"

<PageTitle>Subnetting</PageTitle>
<div id="container">

    <div id="parte1">
        <label for="numIp" id="ip">Dirección IP: </label>
        <input type="text" id="numIp" required placeholder="xxx.xxx.xxx.xxx/xx" @bind-value="direccionIP">
    </div>

    <div id="cantidadRedes">
        <label>Numero de subredes:</label>
        <input type="number" @bind-value="@numSubnets" />
        <button @onclick="@CreateSubnets" id="change">Change</button>
    </div>

    @if (userSubnets.Count > 0)
    {
        <div id="parte2">
            <label id="subnets">Subnets</label>
        </div>

        <label id="name">Name</label>
        <div id="parte3">
            @foreach (var subnet in userSubnets)
            {
                <input type="text" id="nameSubnet" required placeholder="A" @bind-value="@subnet.Name" />
            }
        </div>

        <label id="size">Size</label>
        <div id="parte4">
            @foreach (var subnet in userSubnets)
            {
                <input type="number" id="sizeSubnet" required placeholder="00" @bind-value="@subnet.Size" />
            }
        </div>

        <button id="submit" @onclick="@CalculateSubnets">Calcular</button>

    }
</div>
@if (string.IsNullOrEmpty(error))
{
    <h4>Result:</h4>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tamaño</th>
                <th>Tamaño máximo</th>
                <th>Dirección Red</th>
                <th>Máscara red</th>
                <th>Rango Asignables</th>
                <th>Dirección Broadcast</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subnet in resultSubnets)
            {
                <tr>
                    <td>@subnet.Name</td>
                    <td>@subnet.Size</td>
                    <td>@subnet.HostMax</td>
                    <td>@subnet.IPAddress</td>
                    <td>@subnet.Mask</td>
                    <td>@subnet.AsignableRange</td>
                    <td>@subnet.Broadcast</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>@error</p>
}